[submodule "FreeRTOS/Source"]
	path = FreeRTOS/Source
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "FreeRTOS/Demo/BRISC_MbedTLS/mbedtls"]
	path = FreeRTOS/Demo/BRISC_MbedTLS/mbedtls
	url = git@github.com:andresag01/mbedtls.git
